*{
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden!important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* scrollbar style */
::-webkit-scrollbar{
  width: 8px;
  padding-top: 5px;
}::-webkit-scrollbar-track{
  background: transparent;
}::-webkit-scrollbar-thumb{
  background: rgb(229 131 59);
  width: 100%;
  border-radius: 10px;
}


i {
  cursor: pointer;
}

/* The CSS for the add note button. */
.add-note {
  background: rgb(229 131 59);
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: transform 0.5s ease;
}
/* Rotating the button by 315 degrees. */
.toggle{
  transform: rotate(315deg);
}
/* Hiding the form. */
.note-form{
  width: 0px;
  height: 0px;
  overflow-x: hidden;
  padding: 0;
  bottom: 46px;
  right: 42px;
  transform: rotate(0deg)!important;
  transition: 0.3s linear;
}
/* The CSS for display the form when it is toggled. */
.note-form.toggle{
  width: 90%;
  height: 70%; 
  border-radius: 10px;
  padding: 30px;
  right: 5%;
}
/* Setting the background of the textarea to a transparent black. */
.note-input{
  background: rgba(0,0,0,0.3)!important;
  resize: none;
}
@media only screen and (max-width:640px){
.add-note{
  right: 20px;
}
}
@media only screen and (max-width:540px){
  .note-col .desc{
    height: 36px;
    line-height: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 4px;
    font-size: 14px;
  }
  .note-col .date{
    font-size: 12px;
  }
  .note-col .card-title{
    font-size: 18px;
  }
}

@media only screen and (max-width:410px){
  i{
    font-size: 13px;
  }
  .add-note{
    right: 15px;
  }
}